@font-face {
  font-family: 'Poppins';
  src: url('~/assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('~/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('~/assets/fonts/Outfit-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('~/assets/fonts/Outfit-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('~/assets/fonts/Outfit-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('~/assets/fonts/Outfit-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: #ffffff;
    --foreground: #0a0a0a;

    --muted: #f2f2f2;
    --muted-foreground: #767676;

    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --border: #e6e6e6;
    --input: #e6e6e6;

    --primary: #1a1a1a;
    --primary-foreground: #fafafa;

    --secondary: #f2f2f2;
    --secondary-foreground: #1a1a1a;

    --accent: #f2f2f2;
    --accent-foreground: #1a1a1a;

    --destructive: #d93636;
    --destructive-foreground: #fafafa;

    --ring: #0a0a0a;

     */
    --radius: 0.5rem;
  }

  .dark {
    /* --background: #0a0a0a;
    --foreground: #fafafa;

    --muted: #262626;
    --muted-foreground: #a3a3a3;

    --popover: #0a0a0a;
    --popover-foreground: #fafafa;

    --card: #0a0a0a;
    --card-foreground: #fafafa;

    --border: #262626;
    --input: #262626;

    --primary: #fafafa;
    --primary-foreground: #1a1a1a;

    --secondary: #262626;
    --secondary-foreground: #fafafa;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #a31f1f;
    --destructive-foreground: #fafafa;

    --ring: #d9d9d9; */
  }
}

@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    @apply bg-background text-foreground;
  }
}
